/** @format */

.post {
  background: #202024;
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: #c4c4cc;
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: #00875f;
  text-decoration: none;
}

.content a:hover {
  color: #00b37e;
}

.post > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post > header time {
  font-size: 0.875rem;
  color: #8d8d99;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  line-height: 1.6;
  color: #e1e1e6;
}

.authorInfo span {
  font-size: 0.875rem;
  color: #8d8d99;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #323238;
}

.commentForm > strong {
  line-height: 1.6;
  color: #e1e1e6;
}

.commentForm textarea {
  width: 100%;
  background: #121214;
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 6px;
  line-height: 1.4;
  margin-top: 1rem;
  color: #c4c4cc;
}

.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  background: #00875f;
  color: #fff;
  transition: background-color 0.2s;
}

.commentForm button[type="submit"]:not(:disabled):hover {
  background: #00b37e;
}

.commentForm button[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type="submit"]:hover {
  background: #00b37e;
}

.commentList {
  margin-top: 2rem;
}
